doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet", type="text/css", href="/styles.css")
    body
        .container
            .logo= title
            .slogan !{slogan}
            button.action-button(onclick="learnMore()")
                | Learn More
        footer
            | Built by #[a(href=developer.url target="_blank") #{developer.handle}]
            p= renderType
        script.
            function learnMore() {
                window.open(
                    'https://github.com/itznotabug/appexpress',
                    '_blank'
                );
            }