<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width,initial-scale=1' />
        <title>{{title}}</title>
        <link rel='stylesheet' type='text/css' href='/styles.css' />
    </head>
    <body>
        <div class='container'>
            <div class='logo'>{{title}}</div>
            <div class='slogan'>{{{slogan}}}</div>
            <button class='action-button' onclick='learnMore()'>
                Learn More
            </button>
        </div>
        <footer>
            Built by
            <a href='{{developer.url}}' target='_blank'>{{developer.handle}}</a>
            <p>{{renderType}}</p>
        </footer>
        <script>
            function learnMore() { window.open(
            'https://github.com/itznotabug/appexpress', '_blank' ); }
        </script>
    </body>
</html>